@charset "utf-8";

body {font-family: 'Nanum Gothic', sans-serif;}
ul {list-style: none;}

/*왼쪽헤더*/
#left_header {position:fixed; z-index: 10; box-shadow: 1px 3px 6px 1px rgba(0,0,0,0.5); width:250px; height:100%; background-color:#053863}
.headerbox {width:100%; height: 85px;}
.logobox {background-color: #fff; width:100%; height:100%; cursor: pointer;}
.logoimg {margin-top: 15px; width: 90%; margin-left: 13px;}

.menulist {padding: 0; color: #fff; }
.headerlist {color: #fff; text-align:center; padding: 5px 0;}
.menutitle {font-size: 1.3em; font-weight: bold; padding: 15px 0; opacity:0.5; }
.menulist li {cursor: pointer; position: relative; font-size: 1.1em; padding: 25px 0; transition: all 0.1s ease;}
.menulist li:hover {background-color: #fff; color:#053863; font-weight:bold;}
.menulist li:after {position: absolute; left: 52px; content:''; background-color:#053863; transition: all 0.5s ease; width:0px; height:1px;}
.menulist li:hover:after {width:140px;}

.admintext {font-size: 1em; margin-top:40px;}

.logoutbox {margin-top: 90px; height: 50px; width: 100%; }
.loginbtn {transition: all 0.1s ease; border-radius: 15px; width: 180px;  height: 50px; background-color: #fff; font-weight:bold;}
.loginbtn:hover {color: #fff; background-color: #1b8ff1 !important;}


/*메인 내용*/
#main_content {position: absolute; background-color: #f6f6f6; height: 2000px; width:100%; padding-left:250px; padding-top:100px;}

