@charset "UTF-8";

li.interestlist:hover {background-color: #fbffd0;}
.interestlist {cursor: pointer; position:relative; border-bottom: 1px solid #d4d1d1; font-size: 1em; width: 100%; text-align: center; padding: 0 10px; padding-top:20px; display:inline-block;}
.interestlist span {padding:0 10px; margin: 0; display: inline-block; padding-bottom: 20px;}
.attr {border-bottom: 2px solid gray; font-weight: bold;}

.userID {width: 300px;}
.interest{width:150px;}