@charset "UTF-8";

li.interestlist:hover {background-color: #fbffd0;}
.interestlist {cursor: pointer; position:relative; border-bottom: 1px solid #d4d1d1; font-size: 1em; width: 100%; text-align: center; padding: 0 10px; display: flex;
align-items: center; justify-content: center; padding-top: 15px;}
.interestlist span {padding:0 10px; margin: 0; display: inline-block; padding-bottom: 20px;}
.attr {border-bottom: 2px solid gray; font-weight: bold;}

.userID {width: 400px; overflow:overlay; white-space: nowrap; text-overflow: ellipsis;}
.interest{width:170px;}
.age {min-width: 60px;}