@charset "UTF-8";

li.policylist:hover {background-color: #fbffd0;}
.policylist {cursor: pointer; position:relative; border-bottom: 1px solid #d4d1d1; font-size: 1em; width: 100%; text-align: center; padding: 0 10px; padding-top:20px; display:inline-block;}
.policylist span {padding:0 10px; margin: 0; display: inline-block; padding-bottom: 20px;}
.attr {border-bottom: 2px solid gray; font-weight: bold;}

.p_code {width: 150px;}
.p_title {width: calc(100% - 600px)}
.p_title input {cursor: pointer; text-align: center; width: 100%; text-overflow: ellipsis; border: none; background-color: transparent;}
.crawling_data {width: 200px;}
.expiration_flag {width: 150px;}

/*상세 정책 내용*/
.policy_detail {width: 100%; border: 1px solid blue;}

/*댓글 */
.policy_review p {display: inline-block; text-align:center;}
.review_listBox {width:100%; height:50px; padding:0; }
.review_listBox.top {background-color: powderblue;  font-weight:bold; display: flex; align-items: center;}
.review_list {border-bottom: 1px solid #000; padding: 0; width: 100%; background-color: #e4e4e4; height: 40px;}

.review_code {width: 80px;}
.review_uID {width:250px;}
.contents{width: calc(100% - 630px);}
.req_time {width: 200px;}
.deletebtn {width: 100px;}


