@charset "UTF-8";

.gmail_btn{width: 200px; height: 70px; color: #053863; text-align:center; border: 3px solid #053863; display: flex; align-items: center; padding: 0 20spx; border-radius: 15px; font-size: 1em; font-weight: bold;}
.gmail_btn a{color: #053863; font-size:1em; margin: 0 auto; text-align: center;}
.gmail_btn a:hover {border:none; text-decoration:none;}
.gmail_btn:hover {background-color: #007bff; text-decoration:none;}

.container{font-size: 0.9em;}
th.sorting {min-width:28px;}

@media (max-width: 1400px){
    .container{font-size: 0.85em;}
}