@charset "UTF-8";

body {font-family: 'Nanum Gothic', sans-serif; background-color: #f6f6f6}
.container{/* border:1px solid red;  */ width: 90%; padding: 0; margin: 0 auto; margin-top: 5px !important;}
input {outline: none;}

.menuname {font-weight: bold; top: 35px; font-size: 2em;  position: absolute; box-shadow: 4px 6px 4px -1px rgba(0,0,0,0.5);}
.menuname p { margin:0;}

/*list*/
.pagination li { display:inline-block; padding:5px;}

.search{height:40px; font-size: 1em; float: right; text-align: center; width: 250px; padding: 0 10px; border: none; border-bottom: 1px solid black;}

.list {padding: 0;}
.titlelist{padding-top:50px;}
.titlelist ul{margin-top: 10px; padding: 0;}

.pagination{float: right; padding-right: 50px; font-size: 1.1em;}
.pagination li.active {font-weight: bold;}
.pagination a {color: #000;}
.pagination li.active a {color: blue;}

.request_flag {width:90px;}
.request_flag input {width: 20px; height: 20px;}

ul {list-style: none;}
p {margin: 0;}


/*데이터 테이블*/
.dataTables_wrapper {padding-top: 20px; font-size: 0.8em; min-width: 800px;} 
table#data_table {text-align:center; padding: 15px 0; border: none; font-size: 1.2em;}
input[type="search"] {border: none; border-bottom: 1px solid #000; padding: 5px;}
table.dataTable tbody tr {cursor: pointer;}
table.dataTable tbody tr:hover {background-color: #fbffd0;}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {border: none !important;}
.dataTables_wrapper .dataTables_paginate .paginate_button {padding: 0.2em 0.7em !important;}
table.dataTable tbody th, table.dataTable tbody td {padding: 13px 10px;}
table.dataTable tbody td {border-bottom: 1px solid #e8e8e8;}
#data_table_paginate {font-size: 1.2em;}
a.paginate_button.current {font-weight: bold;}
thead {background-color: #e1e1e1;}