<!DOCTYPE html>
<html lang="ko">
<head>

   
    <title>파이어베이스연동</title>
</head>
<body>
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
                  
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-firestore.js"></script>
    
    
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.3/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyBVPzAuytd4KfhPAS6vtPAicrlMbAhwdEo",
        authDomain: "mojadol-firestore.firebaseapp.com",
        databaseURL: "https://mojadol-firestore.firebaseio.com",
        projectId: "mojadol-firestore",
        storageBucket: "mojadol-firestore.appspot.com",
        messagingSenderId: "282603155923",
        appId: "1:282603155923:web:5ddf2ab8a5f3ec19a87f26"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    </script>

</body>
</html>
