    <!--js-->
    <script src="/js/header.js"></script> <!--헤더용-->

    <!--css-->
    <link rel="stylesheet" href="/css/header.css">    <!--헤더용-->

    <!--left menubar-->
    <section id="left_header">
        <div class="headerbox">
            <div class="logobox">
                <img class="logoimg" src="/image/mojadol_policy_horizontal.png"/>
            </div>
            <div class="headerlist">
                 <p class="menutitle">MANAGEMENT</p>
                <ul class="menulist">
                    <li class="clearfix" onClick="location.href ='member.html'"><span>회원 목록</span></li>
                    <li class="clearfix" onClick="location.href ='policy.html'"><span>정책 게시물 관리<a href="/policy">정책게시물관리</a></span></li>
                    <li class="clearfix" onClick="location.href ='request.html'"><span>회원 요청 관리</span></li>
                    <li class="clearfix" onClick="location.href ='memberinterest.html'"><span>회원별 관심사 목록</span></li>
                </ul>

                <p class="admintext">@관리자 페이지@</p>

                <div class="logoutbox">
                        <input class="loginbtn" type="button" value="로그아웃" onclick="location.href='login.html'">
                        <a href="/logout"> Logout  </a>
                </div>
            </div>
        </div>
    </section>
    <!--//left menubar-->



