<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/list.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/reset.css" type="text/css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->


    <!--js-->
    <script src="/js/login.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/login.css" type="text/css">

    <title>MOJADOL</title>
</head>
<body>
    <section id="loginbox">
        <div class="containerbox">
            <div class="loginbox">
                    <div class="logobox">
                        <img class="logoimg" src="/image/mojadol_policy_horizontal.png"/>
                    </div>
                    <form id="adminloginform" name="admin_login" method="post" action="/adminLoginAC"> <!-- action으로 controller로 전달됨 -->
                        <!-- name값으로 인식하여 전달됨  -->
                        <div>
                            <input type="text" name="id" class="id" id="id" placeholder="아이디를 입력해주세요"/> 
                        </div>
                        <div>
                            <input type="password" name="pw" class="pw" id="pw" placeholder="비밀번호를 입력해주세요"/>
                        </div>
                        <div>
                             <input id="loginadmin" class="loginadminbtn" type="button" onclick="logincheck()" value="관리자 로그인"/>
                        </div>                        
                    </form>
                    <form class="sessionBox" method="post" ><!-- action="/login" -->
                        <div>
                            <input type="text" name="id" class="id" id="id2" placeholder="아이디를 입력해주세요"/> 
                        </div>
                        <div>
                            <input type="password" name="pw" class="pw" id="pw2" placeholder="비밀번호를 입력해주세요"/>
                        </div>
                        <div>
                             <input id="" class="loginadminbtn" type="submit" value="관리자 로그인" onclick="login()"/>
                        </div>                      
                    </form>
                    <div class="mojadol">
                        <span>@MOJADOL@</span>
                    </div>
            </div>
        </div>

    </section>
</body>
</html>
