<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/list.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->

    <!--js-->
    <script src="/js/memberinterest.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/memberinterest.css">
   
    <title>mojadol-request</title>
</head>
<body>
        <!--header include-->
        <header role="header" data-include="header.html"></header>
        
        <!--member box-->
        <section id="main_content">
            <div class="container">
                <div class="menuname">
                    <p>회원별 관심사 목록</p>
                </div>
    
                
                <div id = "test-list" class=" clearfix">
                    <!-- 검색박스 -->
                    <div class="searchBox">
                        <input type="text" class="search filterSearch" placeholder="Search" style="outline: none;"/> 
                    </div>
                    <!--  //검색박스 -->
                    <div class="interestlist attr">
                        <span class="userID" data-sort="userID">회원아이디</span>
                        <span class="age" data-sort="age">나이</span>
                        <span class="job interest" data-sorst="job">취업지원</span>
                        <span class="found interest" data-sorst="found">창업지원</span>
                        <span class="Life_welfare_priority interest" data-sorst="life">생활, 복지</span>
                        <span class="Residential_financial_priority interest" data-sorst="dwelling">주거, 금융</span>                            
                    </div>  

                    <ul class="list clearfix">	
                                             
                     </ul>
                
                    <!-- 자동 페이징 영역 -->
                    <ul class="pagination"></ul>
                </div>
            </div>
        </section>
        <!--//member box-->
    </body>
    <script>

    </script>
    </html>