<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/list.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->

    <!--js-->
    <script src="/js/memberinterest.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/memberinterest.css">
   
    <title>mojadol-request</title>
</head>
<body>
        <!--header include-->
        <header role="header" data-include="header.html"></header>
        
        <!--member box-->
        <section id="main_content">
            <div class="container">
                <div class="menuname">
                    <p>회원별 관심사 목록</p>
                </div>
    
                
                <div id = "test-list" class=" clearfix">
                    <!-- 검색박스 -->
                    <div class="searchBox">
                        <input type="text" class="search filterSearch" placeholder="Search" style="outline: none;"/> 
                    </div>
                    <!--  //검색박스 -->
                    <div class="interestlist attr">
                        <span class="userID" data-sort="userID">회원아이디</span>
                        <span class="job interest" data-sorst="job">취업지원</span>
                        <span class="found interest" data-sorst="found">창업지원</span>
                        <span class="Life_welfare_priority interest" data-sorst="life">생활, 복지</span>
                        <span class="Residential_financial_priority interest" data-sorst="dwelling">주거, 금융</span>                            
                    </div>  

                    <ul class="list clearfix">	
                        <!--더미값-->
                       <!--  <li class="interestlist">
                            <span class="userID" data-sort="userID">testId1</span>
                            <span class="job interest" data-sorst="job">1</span>
                            <span class="found interest" data-sorst="found">0</span>
                            <span class="Life_welfare_priority interest" data-sorst="life">1</span>
                            <span class="Residential_financial_priority interest" data-sorst="dwelling">1</span>
                        </li>
                        <li class="interestlist ">
                            <span class="userID" data-sort="userID">testId2</span>
                            <span class="job interest" data-sorst="job">0</span>
                            <span class="found interest" data-sorst="found">0</span>
                            <span class="Life_welfare_priority interest" data-sorst="life">0</span>
                            <span class="Residential_financial_priority interest" data-sorst="dwelling">1</span>
                        </li>  
                        <li class="interestlist ">
                            <span class="userID" data-sort="userID">testId3</span>
                            <span class="job interest" data-sorst="job">1</span>
                            <span class="found interest" data-sorst="found">0</span>
                            <span class="Life_welfare_priority interest" data-sorst="life">0</span>
                            <span class="Residential_financial_priority interest" data-sorst="dwelling">1</span>
                        </li> -->                           
                     </ul>
                
                    <!-- 자동 페이징 영역 -->
                    <ul class="pagination"></ul>
                </div>
            </div>
        </section>
        <!--//member box-->
    </body>
    <script>
    $.ajax({
        url: "http://49.236.136.213:3000/user/show_all_users",
        type: "GET",
        success: function(data){
           //alert('성공');
            $.each(data, function(idx, content){
                //alert(idx + ":"+content.name);
                var string = '<li class="interestlist">'+
                            '<span class="userID" data-sort="userID">' + content.uID + '</span>'+
                            '<span class="job interest" data-sorst="job">' + content.Employment_Sup_priority + '</span>'+
                            '<span class="found interest" data-sorst="found">' + content.Startup_sup_priority + '</span>'+
                            '<span class="Life_welfare_priority interest" data-sorst="life">' + content.Life_welfare_priority + '</span>'+
                            '<span class="Residential_financial_priority interest" data-sorst="dwelling">' + content.Residential_financial_priority + '</span>' +
                            '</li>';

                $(".list").append(string);

            });
            
        },
        error: function(){
            alert("데이터베이스 에러");
        }
    })
    </script>
    </html>