<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/member.js"></script>

    <!--firebase-->
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js"></script>

    <!--datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script src="/js/global.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/member.css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->

    <title>mojadol-member</title>
</head>
<body>
    <!--header include-->
    <header role="header" data-include="header.html"></header>
    
    <!--member box-->
    <section id="main_content">
        <div class="container">
            <div class="menuname">
                <p>회원 목록</p>
            </div>

            <table id="data_table" class="data_table">
                <thead>
                    <tr>
                        <th>회원아이디</th>
                        <th>이름</th>
                        <th>나이</th>
                        <th>성별</th>
                        <th>지역</th>
                    </tr>
                </thead>

                <tbody>

                </tbody>
            </table>
        </div>       
    </section>
    <!--//member box-->
</body>
</html>
