<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/policy.js"></script>

    <!--datatable-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script src="/js/global.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">
    <link rel="stylesheet" href="/css/policy.css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->
   
    <title>mojadol-policy</title>

</head>
<body>
        <!--header include-->
        <header role="header" data-include="header.html"></header>
        
         <!--policy box-->
        <section id="main_content">
            <div class="container">
                <div class="menuname">
                    <p>정책 게시물 관리</p>
                </div>

                <!--전체 정책 목록-->
                <table id="data_table" class="data_table">
                    <thead>
                        <tr>
                            <th>정책코드</th>
                            <th>제목</th>
                            <th>정책수집날짜</th>
                            <th style="min-width:100px;">정책만료여부</th>
                        </tr>
                    </thead>
    
                    <tbody>
    
                    </tbody>
                </table>

                <div class="policy_detailBox clearfix">
                    <p class="modify_title">정책 수정하기</p>
                    <ul>
                        <li class="first_line clearfix">
                            <p class="first title">정책코드</p>
                            <p class="detail_p_code"></p>
                            <p class="first title">정책 만료여부</p>
                            <textarea class="expiration_flag2"></textarea>
                            <p class="expiration_alert">진행중 : 0, 만료 : 1</p>
                            <span class="expiration"></span> 
                        </li>
                        <li class="second_line clearfix">
                            <p class="second title">대상</p>
                            <textarea class="application_target"></textarea>
                        </li>
                        <li class="third_line clearfix">
                            <p class="third title">신청기간</p> 
                            <div class="apply clearfix">
                                <input type="text" class="apply_start" value="">
                                <p style="margin:0;">~</p>
                                <input type="text" class="apply_end" value="">
                            </div>  
                            <p class="third title">대상 연령</p> 
                            <div class="age clearfix">
                                <input type="text" class="start_age" value="">
                                <p style="margin:0;">~</p>
                                <input type="text" class="end_age" value="">
                            </div>          
                        </li>
                        <li class="fourth_line clearfix">
                            <p class="fourth title">정책 수집 날짜</p>
                            <p class="crawling_date"></p>
                            <p class="second title">시행 지역</p>
                            <textarea class="dor"></textarea>
                            <textarea class="si"></textarea>
                        </li>
                        <li class="fifth_line clearfix">
                            <p class="fifth title">제목</p>
                            <textarea class="detail_title"></textarea>
                        </li>
                        <li class="sixth_line clearfix">
                            <p class="sixth title">내용</p>
                            <textarea class="policy_contents"></textarea>
                        </li>
                        <li class="seventh_line clearfix">
                            <p class="seventh title">연결 링크</p>
                            <textarea class="uri"></textarea>
                        </li>

                        <li class="eighth_line clearfix">
                            <div class="eight clearfix flag1">
                                <p class="eight title">취업지원</p>
                                <textarea class="policyinterst interest_flag1"></textarea>
                                <span class="interest1"></span>
                            </div>
                            <div class="eight clearfix flag2">
                                <p class="eight title">창업지원</p>
                                <textarea class="policyinterst interest_flag2"></textarea>   
                                <span class="interest2"></span> 
                            </div>
                            <div class="eight clearfix flag3">
                                <p class="eight title">생활, 복지</p>
                                <textarea class="policyinterst interest_flag3"></textarea> 
                                <span class="interest3"></span>                              
                            </div>
                            <div class="eight clearfix flag4">
                                <p class="eight title">주거, 금융</p>
                                <textarea class="policyinterst interest_flag4"></textarea>
                                <span class="interest4"></span>
                            </div>
                        </li>
                        <li class="last_line clearfix">
                            <div class="origin_data">
                                    <p class="last title">원본 내용</p>
                                    <div class="origin_policy">
                                    </div>
                            </div>
                        </li>
                    </ul>
                    
                    <input type="button" value="수정하기" class="modifypolicybtn" onclick="modifypolicy()"/>
                </div>

                <p class="review_title">댓글 목록</p>
                <div class="policy_review">
                    <li class="review_listBox top clearfix">
                            <p class="review_code">댓글번호</p>
                            <p class="review_uID">아이디</p>
                            <p class="contents">내용(150자)</p>
                            <p class="req_time">작성 시간</p>
                            <p class="deletebtn">삭제</p>
                    </li>
                    <ul class="review_listBox bottom">

                        
                    </ul>
                </div>
            </div>    
        </section>
        <!--//policy box-->
</body>
</html>
