<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/list.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->

    <!--js-->
    <script src="/js/policy.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/policy.css">
   
    <title>mojadol-policy</title>
</head>
<body>
        <!--header include-->
        <header role="header" data-include="header.html"></header>
        
         <!--policy box-->
        <section id="main_content">
            <div class="container">
                <div class="menuname">
                    <p>정책 게시물 관리</p>
                </div>

                <div id = "test-list" class=" clearfix">
                        <!-- 검색박스 -->
                        <div class="searchBox">
                            <input type="text" class="search filterSearch" placeholder="Search" style="outline: none;"/> 
                        </div>
                        <!--  //검색박스 -->

                                <div class="policylist attr">
                                    <span class="p_code" data-sort="p_code">정책코드</span>
                                    <span class="p_title" data-sort="p_title">제목</span>
                                    <span class="crawling_data" data-sort="crawling_data">정책 수집 날짜</span>
                                    <span class="expiration_flag" data-sort="expiration_flag">정책 만료여부</span>
                                </div>  

                        <ul class="list clearfix">	
                            <!--더미값-->
<!--                             <li class="policylist ">
                                <span class="p_code" data-sort="p_code">CP1432</span>
                                <span class="p_title" data-sort="p_title">
                                    <input type="text" value="대학생미취업청년 채무조정제도" readonly/>
                                </span>
                                <span class="crawling_data" data-sort="crawling_data">2019:04:23</span>
                                <span class="expiration_flag" data-sort="expiration_flag">만료</span>
                            </li>
 -->                    </ul>
                    
                        <!-- 자동 페이징 영역 -->
                        <ul class="pagination"></ul>
                </div>
                <div class="policy_detail">
                    <div class="detail_p_code"></div>
                    <div class="detail_title"></div>
                    <div class="detail_url"></div>
                    <div class="apply_start"></div>
                    <div class="apply_end"></div>
                    <div class="policy_start"></div>
                    <div class="start_age"></div>  
                    <div class="end_age"></div>
                    <div class="description"></div>
                    <div class="education"></div>
                    <div class="crawing_date"></div>
                    <div class="expiration_flag"></div>
                </div>

                <div class="policy_review">
                    <li class="review_listBox top clearfix">
                            <p class="review_code">댓글번호</p>
                            <p class="review_uID">아이디</p>
                            <p class="contents">내용(150자)</p>
                            <p class="req_time">작성 시간</p>
                            <p class="deletebtn">삭제</p>
                    </li>
                    <ul class="review_listBox bottom">

                        
                    </ul>
                </div>

            </div>    
        </section>
        <!--//policy box-->
</body>
</html>