<!DOCTYPE html>
<html lang="ko">
<head>
    <!--기본세팅-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge"> <!--익스플로러 호환성보기-->
    <!-- <meta http-equiv="content-script-type" content="text/javascript"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    
    <!--js-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/import.js"></script>
    <script src="/js/list.js"></script>

    <!--css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/reset.css" type="text/css">

    <!--web font-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR&display=swap" rel="stylesheet">
    <!--font-family: 'Nanum Gothic', sans-serif; font-family: 'Noto Sans KR', sans-serif;-->

    <!--js-->
    <script src="/js/policyDetail.js"></script>

    <!--css-->
    <link rel="stylesheet" href="/css/policyDetail.css">
   
    <title>mojadol-policy</title>
</head>
<body>
        <!--header include-->
        <header role="header" data-include="header.html"></header>
        
         <!--policyDetail box-->
         <section id="main_content">
            <div class="container">
                <div class="menuname">
                    <p>정책 게시물 관리</p>
                </div>
    
                <div id = "test-list" class=" clearfix">
                    정책  ID 잘 받아오니?
                    
                </div>  
            </div>
            

        </section>
        <!--//policyDetail box-->
</body>

</html>